*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about_us{

    padding: 40px 0px;
    background-color: rgb(223, 244, 245);
    height: 126vh; 
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.About_A{
    text-align: center;
    width: 100%;
    height: 30vh; 
}
.about_title{
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 20px;
    font-size: 50px;
    color: #b32137;
    font-weight: bold;
     line-height: 50px;
    font-family: Arial, Helvetica;
}
#Us{
    color: black;
}
.first_paragraph{
    color: rgba(20, 16, 18, 0.663);
    font-size: 17px;
    line-height: 32px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.about_first_secton{
    width: 511px;
    height: 410px;
}
.border_second_paragraf{
    width: 481px;
    height: 410px;
}
.border{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
     /* width: 600px; */
    width:  1000px;
}
.About_content{
    border: 2px solid rgb(22, 135, 167);
    border-radius: 25px;
    padding: 40px;
    height: 80vh;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.second_paragraph{
    
    text-align: justify;
    font-size: 17px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.54);
}
.About-Us-Botton{
    width: 200px;
    font-size: 17px;
    padding: 20px 0;
    color: white;
    text-align: center;
    margin-top: 30px;
    background-color: #28527a;
    text-decoration: none;
    border-radius: 30px white;
    line-height: 20px;
    display: inline-block;
    border-radius: 30px;
}
a:hover{
    background-color: #1687a7;
}

.imge{
    padding-left: 20px;
}

img{
    width: 321px;
    height: 389px;
    border: 2px solid #fdefe4; 
}
.second_paragraph::selection , .first_paragraph::selection{
    color: white;
    background-color: coral;
}

@media  (max-width: 786px){
    .about_us {
        height: auto;
    }
    .border {
        width: auto; 
    }
    .About_A {
        width: auto;
        height: auto;
    }
    .About_content {
        height: auto;
        flex-direction: column;
        flex-flow: column-reverse;
    }
    .border_second_paragraf {
        height: auto;
    }
    .imge {
        padding-left: 0px;
        width: auto;
    }
    img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
    }
    .
  
    }
    



/* General Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}


/* Headear styling */
.header {
    padding: 20px;
    background-color: #99bbadb7;
    color: white;


}
#header {
    color: #ebd8b7;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
}

.header-nav {
    
    width: 50%;
}
.header-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-nav-list a{
    text-decoration: none;
    color: white;
   
}
.list-item-active a{
    color: #ebd8b7;
    font-weight: bold;

}
.header-nav-list a:hover{
    color: #ebd8b7;
}

.header-containr-title {
    margin-left: 20px;
}
.header-containr-title .fa-book-reader {
    font-size: 36px;
}
.fa-user-circle {
  font-size: 30px;
}

/* main style */

.main {
    height: 600px;
    color: white;
    text-align: center;
    background-image: url(./images/4.jpg);
    background-position: center;
    background-size: cover;
    
}

.main-title {
    padding: 50px 0 30px 0;
    font-size: 30px;
width: 50%;
text-align: center;
margin-right: auto;
}
.main-content {
    padding: 30px 0 30px 0;
    font-size: 20px;
width: 50%;
text-align: center;
margin-right: auto;
line-height: 1.5em;
}

.button {
    border-radius: 20px;
    height: 50px;
    width: 200px;
    background-color: #99bbadb7;
   color: white;
   border: 2px white solid;
   font-size: 18px;
   margin-right: 50%;
margin-top: 50px;
}
.button:hover {
    background-color: black;
}
/* social media style  */



.social-list {
width: 20%;
    list-style-type: none;
    display: flex;
     justify-content: space-around;
    margin-left: 15%;
    padding: 40px 20px 50px 20px;

    
}


.fa {
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
   font-size: 20px;
  }
  .fa:hover {
    opacity: 0.7;
}
  .fa-facebook {
    background:#99bbad;
    color: white;
    width: 50px;
   
  }
  
  .fa-twitter {
    background: #ebd8b7;
  color: white;
    width: 50px;
  }

  .fa-linkedin {
    background: #c6a9a3;
    color: white;
    width: 50px;
  }
  .fa-instagram {
    background: #9a8194;
    color: white;
    width: 50px;
  }
/* media query */

@media screen and (max-width : 768px) {

    .header-container {

        flex-direction: column;
        font-size: 12px;
        
    }
.header-nav{
    width: 100%;
}

.header-containr-title {
    font-size: 20px;
    margin-left: 0;
    padding-bottom: 15px;
    margin: auto;
}

.main-title{
    
margin: auto;
    font-size: 20px;

}
.main-content{
    width: 100%;
    margin: auto;
    padding: 0;
    font-size: 16px;
  
}
.button {
    margin: auto;
    width: 100px;
    font-size: 14px;
height: 40px;
margin-top: 70px;
}
.social-list{
    margin: auto;
    width: 50%;
    
}
.header-containr-title .fa-book-reader {
    font-size: 20px;
}
.fa-user-circle {
  font-size: 20px;
}
}
@import url("https://fonts.googleapis.com/css?family=Kavivanar");

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: 'FontAwesome';
  background: #c4e0e5;
}

.wrapper {
  margin: 0px auto 0;
  width: 100%;
  max-width: 680px;
  padding: 20px;
  box-sizing: border-box;
}

/* content */
.content {
  text-align: center;
}

.content h1 {
  letter-spacing: 1px;
}

/* form */
.form {
  width: 100%;
  margin: 25px 0;
}

.top-form,
.middle-form,
.bottom-form {
  width: 100%;
  min-height: 65px;
  margin: 10px 0;
}

.form input[type="text"],
.form textarea {
  border: 2px solid #fff;
  padding: 10px 5px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  transition: all 0.2s ease;
}

.form input:focus,
.form textarea:focus {
  border-color: #4ca1af;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(76, 161, 175, 0.5);
}

.form .label {
  margin-bottom: 5px;
  text-transform: capitalize;
}

/* top-contact */
.top-form .inner-form {
  width: 29.9%;
  float: left;
  margin-right: 5%;
}

.top-form .inner-form:last-child {
  margin-right: 0;
}


/* middle-form */
.middle-form {
  clear: both;
}

/* bottom-form */
.bottom-form textarea {
  height: 80px;
}

.btn {
  background: #4ca1af;
  width: 200px;
  padding: 10px 0;
  border-radius: 2px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Kavivanar", cursive;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Kavivanar", cursive;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Kavivanar", cursive;
}

@media screen and (max-width: 460px) {
  .top-form .inner-form {
    width: 100%;
    margin: 5px 0;
  }
  .top-form,
  .middle-form,
  .bottom-form {
    margin: 5px 0;
  }
  .form {
    margin-top: 10px;
  }
}
